@import url('https://fonts.googleapis.com/css?family=Oswald|Montserrat&display=swap');

button:focus {outline:0;}

body{
    margin: 0;
    position: relative;
    background-image: URL('./img/icon-color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*{
    font-family: 'Montserrat', sans-serif;
}

input, button{
    padding-left: 7px;
    font-weight: bold;
}

/* ---------- App ------------  */

.load-css{
    display: none;
}

.app-container{
    position: relative;
}

.color-btn{
    position: absolute;
    top: 86.8vh;
    left: 94vw;
    font-size: 1.9vw;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px rgb(47, 47, 47);
    animation: changeColorBtn 4s infinite;
    z-index: 2;
}

@keyframes changeColorBtn{
    0% {color: rgb(231, 228, 228);
        text-shadow: 1px 1px rgb(47, 47, 47); }
    45% {color:rgb(118, 184, 127);
     }
     55% {color:rgb(118, 184, 127);
     }
    100% {color: rgb(231, 228, 228);
        text-shadow: 1px 1px rgb(47, 47, 47); }
}

.color-btn:hover{
    cursor: pointer;
}

.error-pop-up{  
    position: absolute;
    left: 70vw;
    height: 1.1vh;
    width: 23.5vw;
    background-color: #104418f6;
    color: #ddd;
    animation: pop-up 3s;
    padding: 1.5vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 1.1vh;
    animation-timing-function: ease;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.success-pop-up{  
    position: absolute;
    left: 70vw;
    height: 1.1vh;
    width: 22vw;
    background-color: rgb(252, 252, 252);
    color: #104418f6;
    animation: pop-up 3s;
    padding: 1.5vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 1.1vh;
    animation-timing-function: ease;
    border: 2px solid rgb(24, 22, 22);
    border-radius: 5px;
}

@keyframes pop-up{
    0% {top:114vh;}
    15% {top:73vh;}
    85% {top:73vh;}
    100% {top: 114vh;}
}

.navbar{
    height: 7vh;
    background-color: transparent;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    border: 0.5px dashed black;
}

.nav-btn{
    width: 8.6vw;
    height: 7vh;
    font-weight: bold;
    font-size: 1.4vw;
    float: right;
    background-color: #17411d9c;
    color: #fffff8;
}

.nav-btn:hover{
    color:rgba(0, 0, 0, 0.767);
    cursor: pointer;   
}

.selected{
    width: 8.6vw;
    height: 7vh;
    font-weight: bold;
    font-size: 1.4vw;
    float: right;
    background-color: rgb(24, 22, 22);
    color:rgb(221, 218, 218);
}

.home-btn{
    float: left;
}

.LH1{
    position: absolute;
    top: 87vh;
    left: 0.4vw;
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    color:rgb(231, 228, 228);
    text-shadow: 1px 1px rgb(47, 47, 47);
}

.H1{
    position: absolute;
    top: 87vh;
    left: 0.4vw;
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    color:rgb(231, 228, 228);
    text-shadow: 1px 1px rgb(47, 47, 47);
}

/* ---------- Home ------------  */
.home-container{
    margin-top: 7vh;
}

.L{
    position: absolute;
    top: 84vh;
    font-size: 6.7vh;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px rgb(47, 47, 47);
    color:rgb(231, 228, 228);
    left: 0.4vw;
}
.H{
    position: absolute;
    top: 84vh;
    font-size: 6.7vh;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px rgb(47, 47, 47);
    color:rgb(231, 228, 228);
    left: 1.4vw;
    animation: h-logo 7s linear infinite; 
}

@keyframes h-logo {
    0%{left:1.4vw;
        transform: rotate(0deg);}
    30%{left:1.4vw;
        transform: rotate(0deg);}
    40%{left:4vw;
        transform: rotate(0deg);}
    50%{left:4vw;
        transform: rotate(0deg);}
    70%{left:4vw;
        transform: rotate(360deg);}
    80%{left:4vw;
        transform: rotate(360deg);}
    100%{left:1.4vw;
        transform: rotate(360deg);}
}

.sit-back{
    position: absolute;
    top: 40vh;
    left: 24.5vw;
    color: #ffffff;
    font-size: 1.65em;
    font-weight: bold;
    text-shadow: 1.5px 1.5px rgb(47, 47, 47);
    background-color: #164b1e6b
}

/* ---------- Clients ------------  */

.client-component{
    background-color: #aaa;
    height:97vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 2.75vh;
}

tr:nth-child(even) {
    background-color: #104418f6;
    color:rgb(224, 207, 207);
}

tr:nth-child(odd) {
    background-color: #fffffeec  ;
}

.table-header{
    color: black;
    background-image: url('https://data.whicdn.com/images/134536137/original.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3vh;
    animation: changeColor 3s infinite;
}

@keyframes changeColor {
    0% {color: rgb(10, 7, 7);}
    50% {color: rgb(253, 243, 243);}
    100% {color: rgb(12, 10, 10);}
}

.clients-component{
    position: relative;
    margin-top: 7vh;   
}

.clientDetails:hover {
    background-color: #0a0101;
    cursor: pointer;
    color: rgb(240, 226, 226);
}

.search-clients{
    height: 6.5vh;
    margin:5px 0 10px 5px;
    position: fixed;
    top:0;
    left: 11vw;
}

.search-clients:hover{
    cursor: pointer;
}

.search-clients input,.search-clients select {
    border: 0.5px solid black;
    height: 5.1vh;
    padding: 0 7px;
    font-weight: bold;
    font-size: 1.3vw;
}

.search-clients input{
    width: 13vw;
}

.search-clients select {
    margin-left: 10px;
    width: 13vw;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       
 }

 .select-css {
    width: 13vw;
    color: rgb(32, 31, 31);
    line-height: 1.3;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('https://banner2.kisspng.com/20180409/zae/kisspng-arrow-down-pixel-arrow-android-down-arrow-5acaf12b08a660.2017835515232494510354.jpg');
      background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding: 0 7px
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover{
    cursor: pointer;
}

.select-css option {
    font-weight:normal;
}

.page-numbers{
    position: absolute;
    top: 89.8vh;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1em;
    margin: 2px;
    background-color: #fffdfd;
    border: 1px solid grey;
}

.page-numbers img{
    width: 3vh;
    height: 1.5vw;
    margin: 3px 10px;
    cursor: pointer;
}

.page{
    font-size: 1.3vw;
}

.details-pop-up-container{
    position: absolute;
    display:flex;
    top: 0;
    left: 0;
    width: 98.7vw;
    height: 93.5vh;
    background-color: rgba(39, 6, 6, 0.835);
    justify-content: center;
    justify-items: center;
}

.details-pop-up{
    height: 55vh;
    width: 25vw;
    background-color: rgba(8, 70, 37, 0.945);
    border-radius: 8px;
    border: 2px groove rgb(3, 68, 33);
    box-shadow: 3px 3px black;
    color:#d4d3ba;
    padding: 5px;
    margin: 17vh 0 ;
    animation: popping 2.5s;
}

@keyframes popping {
    from{opacity: 0}
    to{opacity: 1}
}

.update-pop-up-btn{
    margin-left: 6px;
}

.details-pop-up input{
    width:23vw;
    margin: 10px 5px;
    transition: 0.5s all;
}

.update-client-popup-btn, .delete-client-popup-btn, .cancel-client-popup-btn{
    border: 1.5px solid rgb(41, 41, 41);
    box-shadow: 4px 4px rgb(0, 0, 0);
}

.update-client-popup-btn:active, .delete-client-popup-btn:active, .cancel-client-popup-btn:active{
    box-shadow: 1px 1px rgb(0, 0, 0);

}

/* ---------- Actions ------------  */

.actions-container{
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 93.5vh;
}

.update-container, .add-client-container {
    margin: 19vh 5vw;
    padding: 10px;
    border: 2px solid rgb(32, 31, 31);
    width: 37vw;
    height: 46vh;
    box-shadow: 3px 3px rgb(54, 54, 54);
    background-color: #274b2cd5;
    border-radius: 5px;
}

.update-client{
    background-color: #104418f6;;
}

.update-title{
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
    color:rgb(238, 240, 238);
}

.client-input{
    height: 6.5vh;
    line-height: 6.5vh;
    padding: 0 7px;
    border-bottom: 0.5px solid rgb(202, 202, 202);
    background-color: #104418f6;;
    color:rgb(224, 207, 207);
}

#change-email-type{ 
     background-color: #104418f6;
}

.client-title{
    font-weight: bold;
    margin-right: 10vw;
    font-size: 1.4vw;
}

.add-client-btn{
    float: right;
    margin: 3.5vh;
}

.change-owner, .change-sold{
    background-color: #707070;
}

.last-name{
    background-color: #104418f6;
}

/* ---------- Analytics ------------  */

.analytics{
    margin-top:7vh;
    height:93vh;
    display: grid;
    grid-template-rows: 1fr 4.5fr;
    background-color: #fffffef6 ;
}

.badges{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1%;
    border-block-end: 1px solid black;
}

.badge{
    display: grid;
    grid-template-areas: "i n" "i t";
    grid-template-columns: 1fr 3.5fr;
    grid-gap: 1%;
    margin: 0.5em;
}

.badge-img{
    grid-area: i;
    height: 3em;
    width: 3em;
}

.badge-val{
    grid-area: n;
    font-size: 2em;
    font-weight: bold;
    color: #104418f6;
}

.badge-text{
    grid-area: t;
    font-weight: bold;
    font-size: 0.5em;
}

.charts{
    height: 65vh;
    margin: 0 1em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-employee-chart{
    width: 23vw;
    height: 45%;
    margin-bottom: 1.5em;
}

.sales-by-param-chart{
    width: 69vw;
    height: 45%;
    margin-bottom: 1.5em;
}

.sales-since-chart{
    width: 55vw;
    height: 55%;
}

.employees-sales-by-country-chart{
    width: 39vw;
    height: 58%;
    font-size:10px;
}

.employees-sale-title{
    font-size: 1.5em;
}

.employees-sales-by-country-input{
    margin-bottom: 1em;
}